name: Metrics

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          filename: metrics.svg
          base: header, activity, community, repositories
          config_timezone: America/Sao_Paulo
          output_action: commit
          committer_branch: main
          committer_message: "chore: update metrics"

          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_lines: yes
          plugin_stargazers: yes
