name: Metrics
on:
  schedule: [{cron: "0 */6 * * *"}]
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GH_TOKEN }}
          base: header, activity, community, repositories
          config_timezone: America/Sao_Paulo
          output_action: commit
          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_lines: yes
          plugin_stargazers: yes
